<ion-view view-title="My Notes">
  <ion-content ng-controller="ListCtrl">
    <ion-list>
      <ion-item href="/#/edit/{{note._id}}" class="item-remove-animate item-icon-right" ng-repeat="note in notes">
        <i class="icon ion-ios-arrow-forward"></i>
        <h2>{{note.title}}</h2>
        <p>{{note.description}}</p>
        <ion-option-button class="button-assertive icon-left ion-trash-a" ng-click="remove(note._id)">Eliminar</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <a href="/#/create" class="button button-positive icon-left ion-compose">Agregar</a>
  </div>
</ion-view>
