  <!-- <ion-view view-title="My Notes">
    <ion-content ng-controller="ListCtrl">
      <ion-list>
        <ion-item href="/#/edit/{{note._id}}" class="item-remove-animate item-icon-right" ng-repeat="note in notes">
          <i class="icon ion-ios-arrow-forward"></i>
          <h2>{{note.title}}</h2>
          <p>{{note.description}}</p>
          <ion-option-button class="button-assertive icon-left ion-trash-a" ng-click="remove(note._id)">Eliminar</ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-stable">
      <a href="/#/create" class="button button-positive icon-left ion-compose">Agregar</a>
    </div>
  </ion-view> -->

  <md-content>
    <md-list>
      <md-list-item href="#/app/edit/{{note._id}}" class="md-3-line" ng-repeat="note in notes">
        <div class="md-list-item-text" layout="column">
          <h3>{{ note.title }}</h3>
          <p>{{ note.description }}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>

  <!-- <div class="bar bar-footer bar-stable">
    <a href="/#/create" class="button button-positive icon-left ion-compose">Agregar</a>
  </div> -->
